
<h2>LISTA DE PRODUCTOS</h2>
<div id="productsView"></div>
  <h4>Página: {{page}} de {{totalPages}}</h4>
  {{#if products.payload.length }}
      {{#each products.payload}}
          <h3>Producto:{{title}} - stock:{{stock}} - code:{{code}} - id:{{_id}}</h3>
          <button type="submit" id="addProduct" value="{{_id}}"><i>Agregar al carrito</i></button>
      {{/each}}
  {{else}}
      <p>No products Available</p>
  {{/if}}

  {{#if hasPrevPage }}
    <a href="{{next}}">Página previa</a>
  {{/if}}

  {{#if hasNextPage }}
    <a href="{{prev}}">Página siguiente</a>
  {{/if}} 
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>


