
<h2>WELCOME {{user.first_name}}</h2>
<h4>Your email is: {{user.email}} </h4>

<h2>LISTA DE PRODUCTOS</h2>
<div id="productsView">
  <h4>Página: {{products.Page}} de {{products.totalPages}}</h4>
  {{#if products.payload.length }}
      {{#each products.payload}}
          <div>
              <h3>Producto:{{title}} - stock:{{stock}} - code:{{code}} - id:{{_id}}</h3>
              <form id="addToCart">
                  <input type="hidden" id="idProduct" value=${_id}>
                  <input type="submit" value="Agregar al carrito">
              </form>
          </div>
      {{/each}}
  {{else}}
      <p>No products Available</p>
  {{/if}}

  {{#if products.hasPrevPage }}
    <a href="{{products.next}}">Página previa</a>
  {{/if}}

  {{#if products.hasNextPage }}
    <a href="{{products.prev}}">Página siguiente</a>
  {{/if}} 
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>


